.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-color {
  background-color: #1565c0;
  background-image: linear-gradient(to right, #6a1b9a , #e1bee7);
}

.header-text {
  padding-left: 1em;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: lighter;
  font-size: xx-large;
  color: snow;
}
