<div class="ui container">
  <div class="ui container">
    <mat-toolbar>
      Scholarly Html Report
    </mat-toolbar>
  </div>
  <div class="ui center aligned container">
    <div class="ui list">
      <div class="ui item">
        <div class="ui left floated content">
          <button mat-raised-button routerLink="../">Back</button>
        </div>
        <div class="ui content">
          <iframe src="assets/scholarly-html/index.html" height="800em" width="100%"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
