<div class="ui padded grid">
  <div class="column">
    <div class="ui container">

        <mat-toolbar>
            <i class="big white clickable angle left icon" (click)="goBack()"></i>
            <div class="clickable content" (click)="goBack()">
              Scholarly Html Report
            </div>
          <span class="spacer"></span>
            <a class="clickable" href="assets/scholarly-html/index.html">
              <i id=fullscreen class="white expand icon"></i>
            </a>
        </mat-toolbar>

        <iframe src="assets/scholarly-html/index.html" height="800em" width="100%"></iframe>

    </div>
  </div>
</div>
