<div class="ui padded grid">
  <div class="column">
    <div class="ui container">
      <div class="ui container">
        <mat-toolbar (click)="goBack()" style="cursor: pointer">
          <i class="big white angle left icon"></i>
          <div class="content">
            Scholarly Html Report
          </div>
        </mat-toolbar>
      </div>
      <div class="ui center aligned container">
        <div class="ui list">
          <div class="ui item">
            <div class="ui content">
              <iframe src="assets/scholarly-html/index.html" height="800em" width="100%"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
