.ui.container {
  min-height: 100%;
}

.mat-raised-button {
  position: absolute;
}

.spacer {
  flex: 1 1 auto;
}

#fullscreen {
  color: white;
  padding: 0 1.25em;
}
#fullscreen:hover {
  color: #BCBCBC;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: #BCBCBC;
}
