<div class="ui padded grid">
  <div class="column">
    <div class="ui container">
      <div class="ui container">
        <mat-toolbar routerLink="../" style="cursor: pointer">
          <i class="big white angle left icon"></i>
          <div class="content">
            Development Blog
          </div>
        </mat-toolbar>
      </div>
      <div class="ui container">
        <div class="ui segment">
          <div class="ui large very relaxed divided list">

            <div class="item" >
              <div class="header"> Week 1 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Established the team
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 5 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Examined the list of proposed projects
                  </div>
                  <div class="item">
                    Picked CryS, because we once worked together on a project involving cryptocurrencies
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 6 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Met up to dive deep on the project requirements
                  </div>
                  <div class="item">
                    Created a list of features that the project must have
                  </div>
                  <div class="item">
                    Brainstormed over the general design, outlined how it will all fit together
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 7 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Created use-case diagram
                  </div>
                  <div class="item">
                    Discussed Site's page structure and functionalities
                  </div>
                  <div class="item">
                    Discussed our APIs structure
                  </div>
                  <div class="item">
                    Realized that working on different time zones is not easy
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 8 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Created the Architecture diagram, decided what technologies to use (Angular, APIGateway, AWS Lambda, DynamoDB)
                  </div>
                  <div class="item">
                    Started working on Site UI mock
                  </div>
                  <div class="item">
                    Started working on the Scholarly HTML Report
                  </div>
                  <div class="item">
                    Started working on Open API Documentation
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 9 </div>
              <div class="description">
                <div class="ui ordered list">
                  <div class="item">
                    Finished <a href="{{ gitHubPagesLink }}">site UI mocks</a>
                  </div>
                  <div class="item">
                    Created the Sequence Diagram
                  </div>
                  <div class="item">
                    Completed the <a href="project-info/scholarly-html">Scholarly HTML report</a>
                  </div>
                  <div class="item">
                    Finished <a href="{{ openApiLink }}">Open API Documentation</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="item" >
              <div class="header"> Week 10 </div>
              <div class="description">
                <div class="ui list">
                  <div class="item">
                    TBD
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
