<div class="ui container">
  <div class="ui padded grid">
    <div class="ui inverted column">
      <div class="ui container">
        <mat-toolbar routerLink="../" style="cursor: pointer">
          <i class="big white angle left icon"></i>
          <div class="content">
            Cryptocurrencies
          </div>
        </mat-toolbar>
      </div>
      <div class="ui container">
        <div class="ui segment">
          <div class="ui very relaxed divided list">
            <div class="item">
              <div class="ui padded items">
                <div class="item">
                  <div class="ui tiny image">
                    <img src="assets/icons/bitcoin-256.png">
                  </div>
                  <div class="content">
                    <h1 class="header">Bitcoin</h1>
                    <div class="description">(BTC)</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui container">
                <div class="ui centered two column grid">
                  <div class="ui five wide column">
                    <h3>
                      Current price
                    </h3>
                    <span>$148.19</span>
                    <h3>
                      24hr change
                    </h3>
                    <span>2.6%</span>
                    <h3>
                      24hr volume
                    </h3>
                    <span>$7,543,173,721</span>
                    <h3>
                      Market cap
                    </h3>
                    <span>$16,105,058,712</span>
                  </div>
                  <div class="ui ten wide column">
                    <div class="right floated coin_card">
                      <h3> What is Bitcoin?</h3>
                      <p class="coin_card_text"><b>Bitcoin</b> is the first decentralised digital currency. They are
                        digital coins that you can use on the internet to transact with or to use as a store of value.
                        As Bitcoin is a peer-to-peer network, transactions take place between users directly without a
                        third party that verifies the transaction.
                        <br><br>
                        The invention that makes this possible is the so-called Blockchain. The thousands of blockchain
                        nodes verify the bitcoin transactions that happen between two parties, and for doing so, the
                        nodes (also called miners) receive a reward in the form of newly created bitcoin and a
                        transaction fee.
                        <br><br>
                        The inventor of the Bitcoin protocol goes by the nickname Satoshi Nakamoto and until today it’s
                        still unknown who exactly this person (or group of people) is.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui center aligned container">
                <h2> Predicted evolution for the next 7 days</h2>
                <img src="assets/bitcoin_evolution.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
