<div class="ui padded grid">
  <div class="column">
    <div class="ui container">
      <div class="ui container">
        <mat-toolbar>Project Info</mat-toolbar>
      </div>
      <div class="ui container">
        <div class="ui segment">
          <div class="ui very relaxed big selection list">
            <div class="item">
              <i class="text file large icon"></i>
              <div class="content">
                <a href="scholarly-html/index.html"> Scholarly Html Report </a>
              </div>
            </div>
            <div class="item">
              <i class="large sitemap icon"></i>
              <div class="content">
                <a href="https://app.swaggerhub.com/apis/CryS/CryS_REST_API/1.0.0"> Open API Reference </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


