td {
  color: #282828;
}

h3, h2, span, p {
  color: rgba(39, 37, 40, 0.92) !important;
  font-size: medium;
}

table {
  width: 100%;
}


.ui.table td {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border-bottom: 0 !important;
  border-radius: 1px !important;
}

tr.news-detail-row {
  //height: 0;
  height: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

tr.news-title-row:not(.example-expanded-row):hover {
  cursor: pointer;
}

.news-title-row td {
  padding-top: 0.25em;
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.news-about {
  float:right;
  padding-top: 0.25em
}

.news-title {
  float:left;
  padding: 0.3em 0 0.3em 0;
}

.example-element-diagram {
  border-radius: 5px;
  box-shadow: #9E9E9E;
  border: 1px solid #b1d8dc;
  padding: 0 8px;
  margin: 8px 0;
  background: aliceblue;
}

.example-element-description {
  padding: 16px;
}

.example-element-date {
  padding: 0 12px;
  font-style: italic;
}

.example-element-url {
  padding: 0 12px;
  color: #2196f3;
}
.example-element-source {
  float:right;
}
