td {
  color: #282828;
}

h3, h2, span, p {
  color: rgba(39, 37, 40, 0.92) !important;
  font-size: medium;
}

table {
  width: 100%;
}


.ui.table td {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  border-bottom: 0 !important;
  border-radius: 1px !important;
}

tr.example-detail-row {
  //height: 0;
  height: 0 !important;
  border: 0 !important;
  border-radius: 0 !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #ef3d5d;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border-radius: 5px;
  box-shadow: #9E9E9E;
  border: 1px solid #b1d8dc;
  padding: 0 8px;
  margin: 8px 0;
  background: aliceblue;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-date {
  padding: 0 12px;
  font-style: italic;
}

.example-element-url {
  padding: 0 12px;
  color: #2196f3;
}
.example-element-source {
  float:right;
}
