
<div class="ui padded grid">
  <div class="column">
    <div class="ui container">
      <mat-toolbar>Cryptocurrencies</mat-toolbar>
    </div>
    <div class="ui container">
      <div class="ui padded segment">
        <div class="ui very relaxed divided list">
          <div class="item" *ngFor="let coin of coins">
            <img class="ui tiny image" src="assets/icons/{{'ethereum-2-256.png'}}" routerLink="{{coin.name}}" style="cursor: pointer">
            <div class="content">
              <a href="numismatics/{{coin.id.value}}" class="header"> {{ coin.name.value }} </a>
              <div class="description"> {{ coin.description.value }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

