<div class="ui container">
  <mat-toolbar style="margin-top:1em;">Cryptocurrencies</mat-toolbar>

  <div id="table-loader" class="ui segment" *ngIf="!this.coinsLoaded" style="">
    <div class="ui active dimmer">
      <div class="ui loader"></div>
    </div>
  </div>

  <table id="coinsTable" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="this.coinsLoaded">
    <!-- Position Column -->
    <ng-container matColumnDef="cmcRank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let coin"> {{coin.cmcRank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let coin" >
        <div class="item">
          <a class="ui mini image" style="margin: 1em 1em 1em 0em">
            <img src= "{{coin.logo}}" alt="{{coin.logo}}">
          </a>
          {{coin.name}}
        </div>
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let coin"> {{coin.symbol}} </td>
    </ng-container>

    <!-- Market Cap Column -->
    <ng-container matColumnDef="marketCap">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Market Cap </th>
      <td mat-cell *matCellDef="let coin"> ${{coin.marketCap | number}} </td>
    </ng-container>

    <!-- Price Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
      <td mat-cell *matCellDef="let coin"> ${{coin.price | number}} </td>
    </ng-container>

    <!-- Circulating Supply Column -->
    <ng-container matColumnDef="circulatingSupply">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Circulating Supply </th>
      <td mat-cell *matCellDef="let coin"> {{coin.circulatingSupply | number}} {{coin.symbol}}</td>
    </ng-container>

      <!-- Change 24h Column -->
    <ng-container matColumnDef="percent_change_24h">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Change (24h) </th>
      <td mat-cell *matCellDef="let coin">
        <div class="header"
             [ngStyle]="{'color': coin.percentChange24h | appPriceChange}">
          <i class="{{coin.percentChange24h | appPriceChange:pipeModeIcon}} icon"></i>
          {{coin.percentChange24h}}
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row let coin; columns: displayedColumns;" routerLink="{{coin.id}}" ></tr>
  </table>
  <mat-paginator id="paginator" [pageSizeOptions]="pageSizeOptions" showFirstLastButtons color="accent"></mat-paginator>
</div>

