
<div class="ui padded grid">
  <div class="column">
    <div class="ui container">
      <mat-toolbar>Cryptocurrencies</mat-toolbar>
    </div>
    <div class="ui container">
      <div class="ui padded segment">
        <div class="ui very relaxed divided list">
          <div class="item" *ngFor="let coin of cryptoCoins">
            <img class="ui tiny image" src="assets/icons/{{coin.icon}}" routerLink="{{coin.name}}" style="cursor: pointer">
            <div class="content">
              <a href="numismatics/{{coin.name}}" class="header"> {{ coin.name }} </a>
              <div class="description"> {{ coin.description }} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

